@model CloudOCR.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "Cambiar Rol";
}

<h2>Roles disponibles para el usuario @Html.DisplayFor(model => model.UserName)</h2>
<hr />

@using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>
        <h4>Selecciona el rol o roles que deseas asignar a este usuario</h4>
        <br />
        <hr />
        <table>
            <tr>
                <th>
                    Selecciona
                </th>
                <th>
                    Rol(es)
                </th>
            </tr>
            @Html.EditorFor(model => model.Roles)
        </table>
        <br />
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Regresar", "Index")
</div>
